footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 217px;
  padding: 0 2rem 3rem;
  width: 100%;
  background-color: transparent;
}

.left-footer h2 {
  color: var(--text-quaternary);
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 133%;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

.left-footer p {
  color: var(--text-primary);
  font-family: 'Manrope', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0.35px;
}

.right-footer a {
  color: var(--text-primary);
  font-family: 'Manrope', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0.35px;
  text-decoration: none;
}