#tag {
  width: 147px;
  height: 31px;
  border-radius: 15.5px;
  border: 1px solid rgba(31, 27, 46, 0.20);
  background: rgba(31, 27, 46, 0.10);
  display: flex;
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
  color: var(--text-tertiary);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

body.dark #tag {
  border: 1px solid rgba(221, 183, 255, 0.20);
  background: rgba(221, 183, 255, 0.10);
}

#text-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 689px;
  height: 250px;
  gap: 22px;
}

#text-top h2 {
  text-align: center;
  color: var(--text-tertiary);
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  font-size: 6rem;
  position: relative;
  z-index: 2;
}

body.dark #text-top h2 {
  color: #E2E0FC;
}

#text-top h2::before {
  content: "Descubra seu Caminho Ninja";
  position: absolute;
  inset: 0;
  z-index: -1;
  color: var(--text-tertiary);
  filter: blur(18px);
  opacity: 0.6;
  text-align: center;
}

body.dark #text-top h2::before {
  color: #E2E0FC;
}

#text-top h2 span {
  color: var(--text-quaternary);
  text-shadow:
    0 0 10px rgba(253, 163, 13, 0.6),
    0 0 25px rgba(253, 163, 13, 0.4),
    0 0 45px rgba(253, 163, 13, 0.25);
}

#text-top p {
  color: var(--text-primary);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
}

body.dark #text-top p {
  color: #CEC3D3;
}

.quadro-logo {
  margin-top: 6rem;
}

.quadro-logo img {
  display: block;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 4rem;
}

#card-1,
#card-3 {
  width: 362px;
  height: 275px;
  background-color: var(--card-primary);
}

#card-1,
#card-2,
#card-3 {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 2.5rem 3.2rem 4.4rem 2.25rem;
}

#card-1 span,
#card-2 span,
#card-3 span {
  width: 48px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-1 span {
  background-color: var(--icon-1-bg);
}

#card-2 span {
  background-color: var(--icon-2-bg);
}

#card-3 span {
  background-color: var(--icon-3-bg);
}

#card-1 .titulo-card,
#card-2 .titulo-card,
#card-3 .titulo-card {
  color: var(--text-card-primary);
  font-family: 'Noto Serif', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 133%;
  margin: 22px 0;
}

#card-1 p,
#card-2 p,
#card-3 p {
  color: var(--text-card-secondary);
  font-family: 'Noto Serif', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 162%;
  width: 300px;
}

#card-2 {
  width: 400px;
  height: 300px;
  background-color: var(--card-secondary);
}